<%= simple_form_for(@company, defaults: { wrapper_html: { class: 'col-sm-6' } }) do |f| %>
  <div class="box-body">
    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.input :name %>
        <%= f.input :description %>
      </div>
    </div>
    <div class="box-footer">
      <div class="pull-right">
        <%= f.submit 'Crear', class: "btn btn-primary btn-md", data: { disable_with: 'Procesando...' } %>
      </div>
    </div>
  </div>
<% end %>