<div class="col m-5">
  <div class="box-header with-border">
    <h3 class="box-title">Editando Empresa</h3>
  </div>
  <%= render partial: 'form', company: @company%>
</div>
<%= link_to 'Back', companies_path %>
