<div class="col m-5">
  <div class="box-header with-border">
    <h3 class="box-title">Editar Compañia</h3>
  </div>
<<<<<<< HEAD
  <%= render partial: 'form', company: @company%>
=======
	<%= render partial: 'form', company: @company%>
  </div>
</div>
>>>>>>> c82c42fd1021c780fbf0566c7099627af8d6008a
</div>
<% content_for :title do 'Editar Compañia' end %>
