<div class="col m-5">
  <div class="box-header with-border">
    <h3 class="box-title">Editar Compañia</h3>
  </div>
	<%= render partial: 'form', company: @company%>
  </div>
</div>
</div>
<% content_for :title do 'Editar Compañia' end %>
