<div class="col col-12 justify-content-center">
  <h3>Compa単ias</h3>
  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%">
      <thead >
      <tr>
        <th>Empresa</th>
        <th>Tama単o</th>
        <th>Pais</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>Empresa</th>
        <th>Tama単o</th>
        <th>Pais</th>
      </tr>
      </tfoot>
      <tbody>
        <% Company.all.each do |company| %>
          <tr>
            <td><%= company.name %></td>
            <td><%= company.size %></td>
            <td><%= company.country %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
  <div class="box-footer">
    <%= link_to 'Crear', new_company_path, class: "btn btn-default pull-right" %>
  </div>

  <!-- /.box-body -->
</div>
</div>
</div>
<% content_for :title do 'Compa単ias' end %>

  
  
  
  
