<div class="row">
  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Nueva Empresa</h3>
      </div>
		<%= render partial: 'form' %>
    </div>

  </div>
</div>

<% content_for :title do 'Nueva Empresa' end %>